<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DataBaseConnection Domain="Public" DataBaseType="PGSQLDB" MasterConnect="server=127.0.0.1;user id=postgres; password=123; database=erm;pooling=true;MinPoolSize=0;Encoding=UNICODE;port=5433;"/>
	<DataBaseConnection Domain="slavedb" DataBaseType="PGSQLDB" MasterConnect="server=127.0.0.1;user id=postgres; password=123; database=erm;pooling=true;MinPoolSize=0;Encoding=UNICODE;port=5433;"/>
	<DataBaseConnection Domain="bsc" DataBaseType="PGSQLDB" MasterConnect="server=127.0.0.1;user id=postgres; password=123; database=erm;pooling=true;MinPoolSize=0;Encoding=UNICODE;port=5433;"/>
	<DataBaseConnection Domain="logdb" DataBaseType="PGSQLDB" MasterConnect="server=127.0.0.1;user id=postgres; password=123; database=erm;pooling=true;MinPoolSize=0;Encoding=UNICODE;port=5433;"/>
</configuration>
